.name-search-wraps{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    gap: 20px;
    background: white;
}

.name-search-container-wraps{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    width: 100%;
    border: 2px solid orangered;
    border-radius: 5px;
}

.name-search-input-wraps{
    /* padding: 5px 0px; */
}

.name-search-input-search{
    width: 100%;
    border: 0px;
    outline: none;
}

.name-search-middle{
    padding-top: 3px;
}

.name-search-searchbutton{
    background: orangered;
    padding: 5px 0px;
    border-left: 1px solid lightgray;
    text-align: center;
    color: white;
}

.name-search-end-wraps{
    color: rgba(0,0,0,0.6);
}

.name-search-icon{
    margin-top: 5px;
    font-size: 30px;
}

.name-search-cart-count{
    position: absolute;
    margin-left: 20px;
    padding: 3px;
    border-radius: 20px;
    background: orangered;
    font-size: 12px;
    color: white;
}

.name-search-trending{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    font-size: 13px;
}

.name-search-trending > div{
    border-right: 1px solid rgba(192,192,192,0.9);
    padding-right: 5px;
}

.name-search-trending > div:first-child {
    border: 0px;
}

.name-search-trending > div:last-child {
    border: 0px;
}

.name-search-mobile{
    display: none;
}

@media only screen and (max-width: 1300px) {
    .name-search-wraps {
        grid-template-columns: 25% 65% 5%;
    }
}

@media only screen and (max-width: 1000px) {
    .name-search-trending {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .name-search-logo-wraps, .name-search-end-wraps {
        display: none;
    }

    .name-search-wraps {
        grid-template-columns: 100%;
    }

    .name-search-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid rgba(169,169,169,0.4);
        background: rgba(255,255,255,0.1);
    }

    .name-search-mobile-iconwraps{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }

    .name-search-mobile-icons{
        font-size: 20px;
    }
}