.nav-slider-wraps{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
}

.nav-slider-navigation{
    display: grid;
    grid-template-columns: 1fr;
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: rgba(0,0,0,0.9);
}

.nav-slider-navigation-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 15px;
}

.nav-slider-icons{
    width: 20px;
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .nav-slider-wraps {
        grid-template-columns: 25% 75%;
    }
}

@media only screen and (max-width: 900px) {
    .nav-slider-navigation{
        display: none;
    }
    .nav-slider-wraps {
        grid-template-columns: 100%;
    }
}