.super-deals-wraps{
    margin-bottom: 20px;
}

.super-deals-wraps-inner{
    background: white;
    padding: 10px;
}

.super-deals-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.super-deals-slice{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}